<form class="add-note form">
  <h2>Add new Note</h2>
  <input placeholder="Title" class="add-note__title" type="text" />
  <input placeholder="Description" class="add-note__description" type="text" />
  <button type="submit" class="add-note__button button">Add note</button>
</form>
<p>Total count of notes:<%= user.notes.length %></p>

<div class="user">
  <div class="user__info">
    <div class="user__name">User name: <%= user.name %></div>
    <div class="user__login">User login: <%= user.username %></div>
    <div class="user__status">User status: <%= user.status %></div>
  </div>
  <ul class="user__notes note">
    <% user.notes.forEach(function(note) {%>
    <li class="note__item">
      <div class="note__title"><%= note.title %></div>
      <div class="note__description">
        <%= note.description %>
      </div>
      <%if(note.status) {%>
      <input class="note__status" checked type="checkbox" />
      <%}else {%>
      <input class="note__status" type="checkbox" />
      <% }%>
      <input
        type="submit"
        class="note__delete-button button"
        value="Delete note"
      />
    </li>
    <% })%>
  </ul>
</div>

<script src="/scripts/clearFunctions.js" type="text/javascript"></script>
<script src="/scripts/deleteNote.js" type="text/javascript"></script>
<script src="/scripts/addNote.js" type="text/javascript"></script>
<script src="/scripts/changeStatus.js" type="text/javascript"></script>
